@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap');
:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --scroll-start:100%;
  --scroll-end: 0;

  --scroll-start-reverse:0%;
  --scroll-end-reverse: 100%;

  
}


* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  min-width: 98vw;
  
}

.marquee {
  display: flex;
  overflow: hidden;
  width:75%;
  height:70px;
  margin:auto;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x 15s linear infinite;
}

.marquee__group__reverse {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x-reverse 15s linear infinite;
}

@keyframes scroll-x-reverse {
  from {
    transform: translateX(var(--scroll-start-reverse));
  }
  to {
    transform: translateX(var(--scroll-end-reverse));
  }
}


@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}


@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


/* .swiper-container {
  overflow: hidden;
}

.swiper-slide {
  z-index: 1;
  overflow: hidden;

}

.swiper-slide-active {
  z-index: 2;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}  */

/* Ensure the Swiper container hides overflow */
/* .swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* Ensure slides take full width and height */

 /* .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}  */



/* .swiper-slide {
  opacity: 0 !important;  
   transition: opacity 3s ease-in-out; 
}
.swiper-slide-active {
   opacity: 1 !important;   
}  */



.swiper-slide{
  width: fit-content;
 }